<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hate speech Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Hate speech Detector</span></h2>
            <br/>
            <div class='description'>
    			<p>Check whether tweet is negative or postive.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="/predict" method="POST">
                <textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Message Here..."></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>
    <div class='footer'>
           <p class='footer-description'>Created by harsha.</p>
    </div>


    </body>
</html>